server:
  port: 8083


eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://licly:licly@localhost:8761/eureka/

spring:
  application:
    name: wms-service
