server:
  port: 8081


eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://licly:licly@localhost:8761/eureka/
    registry-fetch-interval-seconds: 3
  instance:
    # 心跳周期
    lease-renewal-interval-in-seconds: 10
    metadata-map:
      version: new


spring:
  application:
    name: order-service
  datasource:
    username: root
    password: root
    hikari:
      jdbc-url: jdbc:mysql://127.0.0.1:3306/iot?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT%2B8



