server:
  port: 8081


eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://licly:licly@localhost:8761/eureka/
    registry-fetch-interval-seconds: 3
  instance:
    # 心跳周期
    lease-renewal-interval-in-seconds: 10
    metadata-map:
      version: new


spring:
  application:
    name: order-service
  datasource:
    username: root
    password: 902116
    url: jdbc:mysql://39.100.49.60:3306/licly_micro_service?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT%2B8
    hikari:
  redis:
    port: 6379
    host: 39.100.49.60
    password: wsxzaq.

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

