server:
  port: 8085

# 灰度发布、统一熔断、统一降级、统一限流、统一授权认证、统一缓存
spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        # lb表示从注册中心获取服务
        - uri: lb://order-service
          predicates:
            - Path=/v1/order/**
          filters:
            - AddRequestHeader=X-ACCESS-TOKEN,token #添加请求头
            - RemoveRequestHeader=X-ACCESS-TOKEN #删除请求头
            - SetStatus=401
      # 不需要单独为每个服务配置路由信息，会将/service-name/url转发到service-name的url接口
      discovery:
        locator:
          enabled: true
          # 开启服务名称小写，开启后，大写的服务名称不能使用
          lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://licly:licly@localhost:8761/eureka/
